In [101]:
#import all the required libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder
from imblearn.under_sampling import NearMiss

In [102]:
#load data set
df_cust = pd.read_csv('..\Data\customer_cleaned.csv')
# df_cust["sex"] = df_cust["sex"].replace(["female","male"],[0,1])
print(df_cust.shape)

(1723, 14)

In [103]:
df_cust.head()

,month,credit_amount,credit_term,age,sex,education,product_type,having_children_flg,region,income,family_status,phone_operator,is_client,bad_client_target
0,1,0.006757,0.272727,0.291667,male,Secondary special education,Cell phones,0,2,0.0500,Another,0,0,0
1,1,0.047297,0.090909,0.027778,male,Secondary special education,Household appliances,1,2,0.0400,Another,3,1,0
2,1,0.081081,0.272727,0.069444,female,Secondary special education,Household appliances,0,2,0.0750,Another,2,0,0
3,1,0.016892,0.272727,0.166667,male,Secondary special education,Cell phones,1,2,0.0750,Unmarried,3,1,0
4,1,0.032095,0.272727,0.097222,female,Higher education,Cell phones,0,2,0.0625,Married,0,1,0

#### lets get the categorical variables ready for training

In [104]:
#use label encoder to transform product category column
label_encoder = LabelEncoder()
df_cust["sex"] = label_encoder.fit_transform(df_cust["sex"])
df_cust["product_type"] = label_encoder.fit_transform(df_cust["product_type"])
df_cust["education"] = label_encoder.fit_transform(df_cust["education"])
df_cust["region"] = label_encoder.fit_transform(df_cust["region"])
df_cust["month"] = label_encoder.fit_transform(df_cust["month"])
df_cust["family_status"] = label_encoder.fit_transform(df_cust["family_status"])
df_cust["phone_operator"] = label_encoder.fit_transform(df_cust["phone_operator"])



# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the data and transform it
# df_standardized = scaler.fit_transform(df_cust[['credit_amount', 'credit_term', 'age', 'income']])

# df_cust[['credit_amount', 'credit_term', 'age', 'income']] = df_standardized




# Assuming 'data' is your DataFrame and 'categorical_column' is the column containing categorical values

# data_encoded = pd.get_dummies(df_cust, columns=["education","region","month","family_status","phone_operator"])

#copy to new dataframe
data_encoded = df_cust.copy()

In [105]:
data_encoded.head()

,month,credit_amount,credit_term,age,sex,education,product_type,having_children_flg,region,income,family_status,phone_operator,is_client,bad_client_target
0,0,0.006757,0.272727,0.291667,1,5,3,0,2,0.0500,0,0,0,0
1,0,0.047297,0.090909,0.027778,1,5,13,1,2,0.0400,0,3,1,0
2,0,0.081081,0.272727,0.069444,0,5,13,0,2,0.0750,0,2,0,0
3,0,0.016892,0.272727,0.166667,1,5,3,1,2,0.0750,2,3,1,0
4,0,0.032095,0.272727,0.097222,0,0,3,0,2,0.0625,1,0,1,0

In [106]:
data_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1723 entries, 0 to 1722
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   month                1723 non-null   int64
 1   credit_amount        1723 non-null   float64
 2   credit_term          1723 non-null   float64
 3   age                  1723 non-null   float64
 4   sex                  1723 non-null   int32
 5   education            1723 non-null   int32
 6   product_type         1723 non-null   int32
 7   having_children_flg  1723 non-null   int64
 8   region               1723 non-null   int64
 9   income               1723 non-null   float64
 10  family_status        1723 non-null   int32
 11  phone_operator       1723 non-null   int64
 12  is_client            1723 non-null   int64
 13  bad_client_target    1723 non-null   int64
dtypes: float64(4), int32(4), int64(6)
memory usage: 161.7 KB

In [107]:
# Assuming 'X' contains your features and 'y' contains your labels
X = data_encoded.drop('bad_client_target', axis=1)
y = data_encoded['bad_client_target']
#standard scaling
X = scaler.fit_transform(X)

In [108]:
#split the dataset into train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42,stratify=y)

#### Train and test the SVM model

In [109]:
# svm_model = SVC(kernel='poly')  # You can choose different kernels like 'rbf', 'poly', etc.
# svm_model.fit(X_train, y_train.ravel())

def traintest_svm(X,y):
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42,stratify=y)
    svm_model = SVC(kernel='rbf')  # You can choose different kernels like 'rbf', 'poly', etc.
    svm_model.fit(X_train, y_train.ravel())

    y_pred = svm_model.predict(X_test)

    accuracy = accuracy_score(y_test, y_pred)
    print(f'Accuracy: {accuracy:.2f}')
    print('Classification Report:')
    print(classification_report(y_test, y_pred))

traintest_svm(X,y)

# def traintest_svm(X_train,y_train,X_test,y_test):
    
    
#     svm_model = SVC(kernel='rbf')  # You can choose different kernels like 'rbf', 'poly', etc.
#     svm_model.fit(X_train, y_train.ravel())

#     y_pred = svm_model.predict(X_test)

#     accuracy = accuracy_score(y_test, y_pred)
#     print(f'Accuracy: {accuracy:.2f}')
#     print('Classification Report:')
#     print(classification_report(y_test, y_pred))

Accuracy: 0.89
Classification Report:
              precision    recall  f1-score   support

           0       0.89      1.00      0.94       306
           1       0.00      0.00      0.00        39

    accuracy                           0.89       345
   macro avg       0.44      0.50      0.47       345
weighted avg       0.79      0.89      0.83       345

c:\Users\abhij\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\abhij\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
c:\Users\abhij\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

#### Oversampling with SMOTE

In [110]:
# !pip install imblearn
# !pip install --upgrade imbalanced-learn
# !pip install --upgrade scikit-learn
from imblearn.over_sampling import SMOTE
from sklearn.datasets import make_classification

In [111]:

# Apply SMOTE
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

smote = SMOTE( random_state= 2)
X_resampled, y_resampled = smote.fit_resample(X, y.ravel())

X_resampled.shape

(3054, 13)

In [112]:
# lets test the performance of resampled cases
#Now you can observe that the Preision, f1 and recall of target 1 is improved
traintest_svm(X_resampled,y_resampled)

Accuracy: 0.86
Classification Report:
              precision    recall  f1-score   support

           0       0.94      0.77      0.84       306
           1       0.80      0.95      0.87       305

    accuracy                           0.86       611
   macro avg       0.87      0.86      0.86       611
weighted avg       0.87      0.86      0.86       611

#### Near miss undersampling algorithm

In [113]:
print("Before Undersampling, counts of label '1': {}".format(sum(y_train == 1))) 
print("Before Undersampling, counts of label '0': {} \n".format(sum(y_train == 0))) 

# Apply NearMiss
nearmiss = NearMiss()
X_NM_resampled, y_nm_resampled = nearmiss.fit_resample(X, y.ravel())
X_NM_resampled.shape


print("After Undersampling NM, counts of label '1': {}".format(sum(y_nm_resampled == 1))) 
print("After Undersampling  NM, counts of label '0': {}".format(sum(y_nm_resampled == 0)))

Before Undersampling, counts of label '1': 157
Before Undersampling, counts of label '0': 1221

After Undersampling NM, counts of label '1': 196
After Undersampling  NM, counts of label '0': 196

In [114]:
traintest_svm(X_NM_resampled, y_nm_resampled)

Accuracy: 0.76
Classification Report:
              precision    recall  f1-score   support

           0       0.73      0.82      0.78        40
           1       0.79      0.69      0.74        39

    accuracy                           0.76        79
   macro avg       0.76      0.76      0.76        79
weighted avg       0.76      0.76      0.76        79