### Cleaned Data Import

In [1]:
import pandas as pd

In [2]:
cleaned_df = pd.read_csv('../Data/cleaned_tweets.csv')

In [3]:
cleaned_df.columns

Index(['Unnamed: 0', 'id', 'entity', 'sentiment', 'tweet'], dtype='object')

In [4]:
cleaned_df.drop('Unnamed: 0', inplace=True, axis=1)

In [5]:
cleaned_df.head(5)

     id       entity sentiment                                       tweet
0  2401  Borderlands  Positive       ['im', 'get', 'borderland', 'murder']
1  2401  Borderlands  Positive                  ['come', 'border', 'kill']
2  2401  Borderlands  Positive         ['im', 'get', 'borderland', 'kill']
3  2401  Borderlands  Positive      ['im', 'come', 'borderland', 'murder']
4  2401  Borderlands  Positive  ['im', 'get', 'borderland', '2', 'murder']

### Baseline model for self-training

In [6]:
from BaselineModel import BaselineModel

### 1. Logistic Regression

In [7]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [8]:
count_vectorizer = CountVectorizer()

In [9]:
logistic_regression = LogisticRegression()

In [10]:
lr_baseline_model = BaselineModel(classifier=logistic_regression, vectorizer=count_vectorizer)

In [11]:
lr_baseline_model.fit_transform(cleaned_df)

<4x4 sparse matrix of type '<class 'numpy.int64'>'
	with 4 stored elements in Compressed Sparse Row format>

In [12]:
from helpers import split_data_using_percentage

In [13]:
split_df = split_data_using_percentage(cleaned_df, 10, 'sentiment')

In [14]:
# split_df

,id,entity,sentiment,tweet
16756,696,ApexLegends,Positive,"['anoth', 'epic', 'night', 'kill', 'non-win', ..."
5688,12996,Xbox(Xseries),Positive,[]
1512,1617,CallOfDutyBlackopsColdWar,Negative,"['black', 'cold', 'war', 'look', 'bore', 'imo'..."
17023,789,ApexLegends,Positive,"['glad', 'back', 'rhandlerr', 'one', 'day', 'w..."
28501,6192,FIFA,Negative,"['fifa', 'chang', 'video', 'wake', 'crimin', '..."
41991,8876,Nvidia,Negative,"['2.5', 'gbit', 'serious', 'threat', 'nvidia',..."
23253,1579,Battlefield,Negative,"['updat', '. .', 'play', 'battlefield', '4', '..."
32296,11290,TomClancysRainbowSix,Positive,"['stream', 'rank', 'sieg', 'friend', '. .', 't..."
34349,3562,Facebook,Negative,"['disgust', 'call', 'asshol']"
40456,10870,TomClancysGhostRecon,Negative,"['3080', 'yard', 'run']"