In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
# Load data from CSV file into Pandas dataframe
df_tweets = pd.read_csv("../Data/cleaned_tweets.csv")
df_tweets.drop(['Unnamed: 0'], axis=1, inplace=True)
df_tweets.head(20)

,id,entity,sentiment,tweet
0,2401,Borderlands,Positive,"['im', 'get', 'borderland', 'murder']"
1,2401,Borderlands,Positive,"['come', 'border', 'kill']"
2,2401,Borderlands,Positive,"['im', 'get', 'borderland', 'kill']"
3,2401,Borderlands,Positive,"['im', 'come', 'borderland', 'murder']"
4,2401,Borderlands,Positive,"['im', 'get', 'borderland', '2', 'murder']"
5,2401,Borderlands,Positive,"['im', 'get', 'borderland', 'murder']"
6,2402,Borderlands,Positive,"['spent', 'hour', 'make', 'someth', 'fun', '. ..."
7,2402,Borderlands,Positive,"['spent', 'coupl', 'hour', 'someth', 'fun', 'k..."
8,2402,Borderlands,Positive,"['spent', 'hour', 'someth', 'fun', 'know', ""i'..."
9,2402,Borderlands,Positive,"['spent', 'hour', 'make', 'someth', 'fun', '. ..."
10,2402,Borderlands,Positive,"['2010', 'spent', 'hour', 'make', 'someth', 'f..."
11,2402,Borderlands,Positive,[]
12,2404,Borderlands,Positive,"['first', 'borderland', 'session', 'long', 'ti..."
13,2404,Borderlands,Positive,"['first', 'borderland', 'session', 'long', 'ti..."
14,2404,Borderlands,Positive,"['first', 'borderland', 'session', 'long', 'ti..."
15,2404,Borderlands,Positive,"['first', 'borderland', 'session', 'long', 'ti..."
16,2404,Borderlands,Positive,"['first', 'real', 'borderland', 'session', 'ni..."
17,2404,Borderlands,Positive,"['first', 'borderland', 'session', 'hot', 'row..."
18,2405,Borderlands,Negative,"['biggest', 'dissappoin', 'life', 'came', 'yea..."
19,2405,Borderlands,Negative,"['biggest', 'disappoint', 'life', 'came', 'yea..."

In [3]:
def merge_tweet_tokens(tweet_list):
    tweet_list = ast.literal_eval(tweet_list)
    return " ".join(tweet_list)

In [4]:
df_tweets["tweet"] = df_tweets["tweet"].apply(merge_tweet_tokens)
df_tweets.head(10)

,id,entity,sentiment,tweet
0,2401,Borderlands,Positive,im get borderland murder
1,2401,Borderlands,Positive,come border kill
2,2401,Borderlands,Positive,im get borderland kill
3,2401,Borderlands,Positive,im come borderland murder
4,2401,Borderlands,Positive,im get borderland 2 murder
5,2401,Borderlands,Positive,im get borderland murder
6,2402,Borderlands,Positive,spent hour make someth fun . . . know huge fan...
7,2402,Borderlands,Positive,spent coupl hour someth fun know i'm huge bord...
8,2402,Borderlands,Positive,spent hour someth fun know i'm huge borderland...
9,2402,Borderlands,Positive,spent hour make someth fun . . . know huge rha...

In [5]:
df_tweets['datapoint_id'] = df_tweets.index
df_tweets.head(5)

     id       entity sentiment                       tweet  datapoint_id
0  2401  Borderlands  Positive    im get borderland murder             0
1  2401  Borderlands  Positive            come border kill             1
2  2401  Borderlands  Positive      im get borderland kill             2
3  2401  Borderlands  Positive   im come borderland murder             3
4  2401  Borderlands  Positive  im get borderland 2 murder             4

In [6]:
df_tweets['sentiment'].unique()

array(['Positive', 'Negative'], dtype=object)

In [7]:
len(df_tweets)

43013

In [8]:
# Create list of length 43013 with nested lists of IDs with same class
eval_list = []

In [9]:
# Create vocabulary(Bag of words)
# bag_of_words = []

In [10]:
positive_data_points = list(df_tweets[df_tweets['sentiment'] == 'Positive']['datapoint_id'])

In [11]:
negative_data_points = list(df_tweets[df_tweets['sentiment'] == 'Negative']['datapoint_id'])

In [ ]:
for index, row in df_tweets.iterrows():
    temp_arr = []
    # current_tweet = ast.literal_eval(row['tweet'])
    # current_tweet = [tweet.strip() for tweet in current_tweet]
    # bag_of_words.extend(current_tweet)
    current_data_point_array = [row['datapoint_id']]
    if row['sentiment'] == 'Positive':
        temp_arr = list(positive_data_points)
    else:
        temp_arr = list(negative_data_points)
    temp_arr.remove(row['datapoint_id'])
    current_data_point_array.extend(temp_arr)
    eval_list.append(current_data_point_array)

In [ ]:
# bag_of_words = list(set(bag_of_words))
# print(bag_of_words[:10])

In [ ]:
len(eval_list)

In [ ]:
eval_list[1].index(1)

### Create a copy of original dataset to perform k-means by removing the labels

In [ ]:
df_kmeans = df_tweets.copy(deep=True)
df_kmeans.drop(['sentiment', 'id', 'entity'], axis=1, inplace=True)

In [ ]:
df_kmeans.head(10)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [ ]:
# bag_of_words[0:20]

In [ ]:
# Considering 3 grams and mimnimum frq as 0
tf_idf_vect = TfidfVectorizer(analyzer='word',ngram_range=(2,2), min_df = 0.0001)
tf_idf_vect.fit(df_kmeans["tweet"])
desc_matrix = tf_idf_vect.transform(df_kmeans["tweet"])

In [ ]:
# implement kmeans
num_clusters = 2
km = KMeans(n_clusters=num_clusters)
km.fit(desc_matrix)
clusters = km.labels_.tolist()

In [ ]:

# create DataFrame films from all of the input files.
tweets = {'Tweet': df_kmeans["tweet"].tolist(), 'Cluster': clusters}
frame = pd.DataFrame(tweets, index = [clusters])
frame

In [ ]:
cluster_zero_len = len(frame[frame['Cluster'] == 0])
cluster_one_len = len(frame[frame['Cluster'] == 1])

In [ ]:
# tfidf_vectorizer = TfidfVectorizer()
# tfidf = tfidf_vectorizer.fit_transform(bag_of_words)

# kmeans = KMeans(n_clusters=2).fit(tfidf)

In [ ]:
# lines_for_predicting =  # ["I'm infected with covid19", "I like borderlands"]
# kmeans.predict(tfidf_vectorizer.transform(lines_for_predicting))

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
labels = 'Cluster 0', 'Cluster 1'
sizes = [cluster_zero_len, cluster_one_len]

fig, ax = plt.subplots()
ax.pie(sizes, labels=labels)

In [ ]:
cluster_one_len